*
{
    padding: 0;
    margin: 0;
}
body
{
    height: 100dvh;
    width: 100dvw;
}
.container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    color: white;
    font-size: 20px;
    background-color: #998672;  
}
.select
{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
}
select
{
    width: 33%;
    outline: none;
    border: none;
    color: black;
    height: 25px;
    background-color:blanchedalmond;
    text-align: center;
    font-size: 16px;
}
/* select.option:focus
{
    background-color: white;
} */
.yerba
{
    width: 100%;
    text-align: center;   
    margin-top: 40px;

}
